<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
   <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="styles/st_page.css">
    
   
</head>
<style>
    
    body{
        
        background-color: white;
        
    } 
    
    .card-header {
        border: 2px solid #00c6ff;
        
    }
 </style>
 


<section id="features" class="features" style="padding-top: 90px">
      <div class="container" data-aos="fade-up">

        <div class="row feature-item">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="assets/img/features-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
            <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
            <p>
              Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
            </p>
            
          </div>
        </div>
      </div>
    </section>





<div class="container" style="padding-top: 120px ">

    <div class="card shadow rounded">
        <h5 class="card-header text-center bg-light">${tirocinio.titolo}</h5>
        <div class="card-body bg-primary">
            <div class="row">

                <div class="col-10 mx-auto col-md-5 card border-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-briefcase pr-2"></i><strong>Azienda:</strong> ${tirocinio.azienda.ragioneSociale}</li>
                            <li class="list-group-item"><i class="far fa-building pr-2"></i><strong>Settore:</strong> ${tirocinio.settore}</li>
                            <li class="list-group-item"><i class="fas fa-map-marker-alt pr-2"></i><strong>Luogo:</strong> ${tirocinio.luogo}</li>
                            <li class="list-group-item"><i class="fas fa-user pr-2"></i><strong>Tutore Universitario:</strong> ${tirocinio.tutoreTirocinio.nome} ${tirocinio.tutoreTirocinio.cognome}</li>
                        </ul>
                </div>

                <div class="col-10 mx-auto col-md-5 card border-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="far fa-clock pr-2"></i><strong>Orari:</strong> ${tirocinio.orari!"Non specificato"}</li>
                        <li class="list-group-item"><i class="fas fa-hourglass-start pr-2"></i><strong>Durata:</strong> ${tirocinio.durata}</li>
                        <li class="list-group-item"><i class="fas fa-hands-helping pr-2"></i><strong>Facilitazioni:</strong> ${tirocinio.facilitazioni!"Non specificato"}</li>
                        <li class="list-group-item"><i class="fas fa-power-off pr-2"></i><strong>Attivo:</strong> ${attivo}</li>
                    </ul>
                </div>

            </div>

            <div class="card border-bottom-0 border-left-0 border-right-0 text-center mt-5">
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-money-check fa-xs pr-2"></i> Modalità</h4>
                <p class="card-text">${tirocinio.modalita}</p>
            </div>
            </div>

            <div class="card border-bottom-0 border-left-0 border-right-0 text-center mt-3">
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-crosshairs fa-sm pr-2"></i> Obiettivi</h4>
                <p class="card-text">${tirocinio.obiettivi}</p>
            </div>
            </div>

        </div>
    </div>

        
        <#if isAttiva?has_content>
        <div class="row mb-6" style="margin-top: 45px">
            <div class="col text-center">
                <a class="btn btn-primary" style="border-radius: 20px; width: 30vw" href="richiesta_tirocinio?n=${tirocinio.id}">
                    <i class="fas fa-share pr-2"></i>
                    <span>Richiedi tirocinio</span>
                </a>
            </div>
        </div>
        </#if>
    
</div>

<script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
