<html>
<body>
<footer id="footer">
     <div class="footer-top">
    <div class="container">
        <div class="row" >
             <div class="col-lg-4 col-md-6">
                 <div class="footer-info" style="background-color: #0056b3">
              <h3><img src="assets/img/try.png" style="width:108px;height:108px"/></h3>
              
              <p>
                Via Vetoio <br>
                 67100 Coppito (AQ)<br><br>
                <strong>Phone:</strong> +393314726127<br>
                <strong>Email:</strong> it.internshiptutor@gmail.com<br>
              </p>
           
            </div>
          </div>
            <div class="col-md-4 col-12" style="padding-left: 200px" >
                <h5>Area pubblica</h5>
                <dl class="quick-links">
                    <dt><a href="home"><i class="fa fa-angle-double-right"></i>&nbsp;Home</a></dt>
                    <dt><a href="aziende"><i class="fa fa-angle-double-right"></i>&nbsp;Aziende</a></dt>
                    <dt><a href="tirocini"><i class="fa fa-angle-double-right"></i>&nbsp;Tirocini</a></dt><dd></dd>
                </dl>
            </div>
            <div class="col-md-4 col-12" style="padding-left: 150px">
                <h5>Accesso</h5>
                <dl class="quick-links">
                    <dt><a href="login"><i class="fa fa-angle-double-right"></i>&nbsp;Login</a></dt>
                    <dt><a href="registrazione?tipo=azienda"><i class="fa fa-angle-double-right"></i>&nbsp;Registrazione azienda</a></dt>
                    <dt><a href="registrazione?tipo=studente"><i class="fa fa-angle-double-right"></i>&nbsp;Registrazione studente</a></dt><dd></dd>
                </dl>
            </div>
<!--            <div class="col-md-4 col-12">
                <h5>Contatti</h5>
                <dl class="quick-links">
                    <dt><a class="contacts_footer" href="#"><i class="fas fa-map-pin"></i>&nbsp;Via Vetoio, 67100 Coppito (AQ)</a></dt>
                    <dt><a class="contacts_footer" href="#"><i class="far fa-envelope"></i>&nbsp;it.internshiptutor@gmail.com</a></dt>
                    <dt><a class="contacts_footer" href="#"><i class="fas fa-phone"></i>&nbsp;+393314726127</a></dt><dd></dd>
                </dl>
            </div>-->
 
        </div>
        <div class="row">
            <div class="col-12 text-center" style="padding-top: 50px">
                <p>Copyright &copy; 2019 Univaq. Page compiled on ${compiled_on?datetime}</p>
            </div>
        </div>
    </div>
     </div>
</footer>
    
 
</body>
</html>