<!--<html>
<body>
<footer id="footer">
     <div class="footer-top">
    <div class="container">
        <div class="row" >
             <div class="col-lg-4 col-md-6">
                 <div class="footer-info" style="background-color: #0056b3">
              <h3><img src="assets/img/try.png" style="width:108px;height:108px"/></h3>
              
              <p>
                Via Vetoio <br>
                 67100 Coppito (AQ)<br><br>
                <strong>Phone:</strong> +393314726127<br>
                <strong>Email:</strong> it.internshiptutor@gmail.com<br>
              </p>
           
            </div>
          </div>
            <div class="col-md-4 col-12" style="padding-left: 200px" >
                <h5>Area pubblica</h5>
                <dl class="quick-links">
                    <dt><a href="home"><i class="fa fa-angle-double-right"></i>&nbsp;Home</a></dt>
                    <dt><a href="aziende"><i class="fa fa-angle-double-right"></i>&nbsp;Aziende</a></dt>
                    <dt><a href="tirocini"><i class="fa fa-angle-double-right"></i>&nbsp;Tirocini</a></dt><dd></dd>
                </dl>
            </div>
            <div class="col-md-4 col-12" style="padding-left: 150px">
                <h5>Accesso</h5>
                <dl class="quick-links">
                    <dt><a href="login"><i class="fa fa-angle-double-right"></i>&nbsp;Login</a></dt>
                    <dt><a href="registrazione?tipo=azienda"><i class="fa fa-angle-double-right"></i>&nbsp;Registrazione azienda</a></dt>
                    <dt><a href="registrazione?tipo=studente"><i class="fa fa-angle-double-right"></i>&nbsp;Registrazione studente</a></dt><dd></dd>
                </dl>
            </div>
            <div class="col-md-4 col-12">
                <h5>Contatti</h5>
                <dl class="quick-links">
                    <dt><a class="contacts_footer" href="#"><i class="fas fa-map-pin"></i>&nbsp;Via Vetoio, 67100 Coppito (AQ)</a></dt>
                    <dt><a class="contacts_footer" href="#"><i class="far fa-envelope"></i>&nbsp;it.internshiptutor@gmail.com</a></dt>
                    <dt><a class="contacts_footer" href="#"><i class="fas fa-phone"></i>&nbsp;+393314726127</a></dt><dd></dd>
                </dl>
            </div>
 
        </div>
        <div class="row">
            <div class="col-12 text-center" style="padding-top: 50px">
                <p>Copyright &copy; 2019 Univaq. Page compiled on ${compiled_on?datetime}</p>
            </div>
        </div>
    </div>
     </div>
</footer>
    
 
</body>
</html>-->
<html>

<head><!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="styles/richiesta.css">
        </head>
<!-- ======= Footer ======= -->
    <body>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6">
            <div class="footer-info">
              <h3><img src="assets/img/try.png" style="width:108px;height:108px"/><span>.</span></h3>
              <p>
                Via Vetoio,  <br>
                67100 L'Aquila AQ<br><br>
                <strong>Phone:</strong> +393496856892<br>
                <strong>Email:</strong> internshiptutor@univaq.it<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="aziende">Company</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="tirocini">Internship</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="login">Login</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="registrazione?tipo=azienda">Company Sign-In</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="registrazione?tipo=studente">Student Sign-In</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Contact">Contact-Us</a></li>
              
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2021 Univaq</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
       
      </div>
    </div>
  </footer><!-- End Footer -->
  </body>
</html>>

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  