<head><!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="styles/richiesta.css">
        </head>
<#if MSG?has_content> <!-- check if content exist and is not empty -->
<div class="container" xmlns="http://java.sun.com/jsf/html">
    <div class="alert alert-${alert} alert-dismissible } fade show" role="alert">
        <i class="${ICON}"></i>&nbsp;&nbsp;&nbsp;
        <#outputformat "plainText">${MSG}</#outputformat>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
</#if>

<section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6"  style='background-image: url("assets/img/features.jpg");' data-aos="fade-right"></div>
<!--          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">



            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h4>Est labore ad</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h4>Harum esse qui</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h4>Aut occaecati</h4>
              <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h4>Beatae veritatis</h4>
              <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
            </div>
          </div>-->
<!--        </div>-->

<!--      </div>
    </section>-->

<div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="card text-center" style="width: 600px">
                <div class="card-header" st>
                    <i class="fas fa-share-square mr-2"></i>Richiesta Tirocinio
                </div>
                <div class="card-body">
                    <form role="form" method="post" action="richiesta_tirocinio?n=${tirocinio}">
                            <div class="form-group">

                                <div class="input-group">

                                    <select class="form-control" name="tutore" required>
                                        <option value="" disabled selected>Tutore universitario *</option>
                                        <#list tutori as tutore>
                                        <option value="${tutore.id}">${tutore.nome} ${tutore.cognome}</option>
                                        </#list>
                                    </select>

                                    <div class="input-group-append">
                                        <span class="input-group-text" >
                                            <a class="click_to_scroll" style="text-decoration: none;" data-toggle="tooltip" data-placement="right" title="Aggiungi un nuovo tutore universitario" href="#newTut">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="cfu" placeholder="CFU richiesti *" type="number" min="1" required/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="laurea" placeholder="Laurea (Se Acquisita)" type="text" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="diploma" placeholder="Diploma di Laurea (Se acquisito)" type="text" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="dottorato" placeholder="Dottorato Di Ricerca (Se frequentante)" type="text" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="specializzazione" placeholder="Specializzazione (Se frequentante)" type="text" />
                            </div>

                            <input name="submit" class="btn btn-primary btn-request-tiro" type="submit" value="Invia la tua candidatura">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>



    <div class="row" id="newTut" style="margin-top: 50px">
        <div class="col-12 col-md-8 mx-auto" style="padding-top: 70px">
            <div class="card text-center">
                <div class="card-header">
                    <i class="fas fa-user-plus mr-2"></i>Aggiungi un nuovo tutore
                </div>
                <div class="card-body">
                    <form role="form" method="post" action="richiesta_tirocinio?n=${tirocinio}">
                        <div class="form-group">
                            <input class="form-control" name="name" placeholder="Nome *" type="text" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="surname" placeholder="Cognome *" type="text" required/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="email" placeholder="Email *" type="text" required/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="telefono" placeholder="Telefono *" type="text" required />
                        </div>

                        <input name="submitTutore" class="btn btn-primary btn-request-tiro" type="submit" value="Aggiungi Tutore">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div>
    <form method="post" id="richiestaForm">
        <!- - Dati di Base - ->
        <div class="row">
            <input class="eight columns" name="cfu" placeholder="CFU richiesti" type="number" autofocus required/>
        </div>
        <div class="row">
            <input class="six columns" name="ore_tirocinio" placeholder="Ore richieste" type="number" required/>        
        </div>
 
        <div>
            <select class="tutore_select" id="selectBox" onchange="change(value);" required>
		<option value="" disabled selected>Tutore universitario</option>
                <#list tutori as tutore>
                    <option name="tutore" value="${tutore.id}">${tutore.nome} ${tutore.cognome}</option> 
                </#list>
                <option name="tutore" value="new">Aggiungi un nuovo tutore universitario</option>
            </select>

        </div>
        
        <div id="new_tutore">
       
        </div>
        
        <!- - Pulsante di Submit - ->
        <div>
            <input name="submit" value="Invia la tua candidatura" type="submit"/>
        </div>
    </form>
</div> -->

<!-- <script type="text/javascript" src="js/addnewtutore.js"></script> -->

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script src="js/scroll.js"></script>
<script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
